page-home {
  .content {
    --background: linear-gradient(to bottom, #ec7474, #ff8f8f); /* Fondo degradado */
  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  }

  ion-img {
    width: auto;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  }

  .action-button {
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: #ff5050; /* Color de fondo */
    color: #fff; /* Color de texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade relleno */
    transition: background-color 0.3s ease; /* Transición suave */
  }

  .action-button:hover {
    background-color: #ff6666; /* Cambia el color de fondo al pasar el ratón */
  }

  .action-button ion-icon {
    margin-right: 8px;
  }
}
