<ion-header>
  <ion-toolbar>
    <ion-title>
      Galería
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="gallery">
    <ion-img [src]="imagenParaMostrar" *ngIf="imagenParaMostrar"></ion-img>
  </div>
  <ion-button (click)="getPhoto()" expand="block" color="primary" class="action-button">
    Tomar Foto
  </ion-button>
  <ion-button (click)="clearPhoto()" expand="block" color="danger" class="action-button" *ngIf="imagenParaMostrar">
    Borrar Foto
  </ion-button>
</ion-content>
